*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  color: $text-primary;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}
