@import '../../styles/colors.scss';

.container {
  max-width: 600px;
  margin: 48px auto;
}

.form {
  &__header {
    margin-bottom: 36px;

    &__title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__fields {
    margin-bottom: 24px;
  }
}

.button {
  border-color: transparent;
  font-size: 16px;
  padding: 8px 24px;
  color: #fff;
  margin-right: 20px;
  border-radius: 3px;

  &--primary {
    background-color: $primary;
  }

  &--outline {
    border: 1px solid #dbdbdb;
    color: $text-primary;
  }
}
